@charset "UTF-8";

#report {

}

#report_item {
    padding: 20px;
}

#report_button {
    padding-top: 30px;
    padding-bottom: 06px;
    padding-left: 20px;
}

.return_button {
    color: #333333;
}

.flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}